body {
  position: absolute;
  width: 2011px;
  height: 3314px;
}
header {
  width: 100%;
  height: 84px;
  background-color: #007765;
}
.logo {
  position: relative;
  left: 501px;
  top: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
header span {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  left: 1087px;
  position: relative;
}
.Jumbotron {
  background: url(../img/image_bg_Jumbotron.png);
  width: 100%;
  height: 403px;
  text-align: center;
}
.Jumbotron-text {
  color: #fff;
  position: relative;
  top: 160px;
  font-family: Roboto;
  font-size: 72px;
}
.title {
  color: #007765;

  font-family: Roboto;
  font-size: 64px;
}
.problem {
  width: 100%;
  height: 719px;
  text-align: center;
}
.problem .title {
  position: relative;
  top: 48px;
}
.problem-text {
  position: relative;
  top: 16px;
  left: 451px;
  font-family: Roboto;
  font-size: 32px;
  width: 1110px;
  text-align: start;
}
.hero {
  background: url(../img/image_bg_Hero.png);
  width: 100%;
  height: 483px;
  text-align: center;
}
.hero-text {
  position: relative;
  top: 128px;
  width: 893px;
  height: 228px;
  color: #fff;
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
}
.PPC {
  width: 100%;
  height: 604px;
}
