body {
  position: absolute;
  width: 2011px;
  height: 3314px;
  font-family: Roboto;
}
header {
  width: 100%;
  height: 84px;
  background-color: #007765;
}
.logo {
  position: relative;
  left: 501px;
  top: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
header span {
  color: #fff;
  text-align: center;

  font-size: 24px;
  left: 1087px;
  position: relative;
}
.Jumbotron {
  background: url(../img/bg/image_bg_Jumbotron.png);
  width: 100%;
  height: 403px;
  text-align: center;
}
.Jumbotron-text {
  color: #fff;
  position: relative;
  top: 160px;

  font-size: 72px;
}
.title {
  color: #007765;

  font-size: 64px;
  text-align: center;
}
.problem {
  width: 100%;
  height: 719px;
  text-align: center;
}
.problem .title {
  position: relative;
  top: 48px;
}
.problem-text {
  position: relative;
  top: 16px;
  left: 451px;

  font-size: 32px;
  width: 1110px;
  text-align: start;
}
.hero {
  background: url(../img/bg/image_bg_Hero.png);
  width: 100%;
  height: 483px;
  text-align: center;
}
.hero-text {
  position: relative;
  top: 128px;
  width: 893px;
  height: 228px;
  color: #fff;

  font-size: 48px;
  font-style: italic;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
  margin: auto;

  font-size: 32px;
}
.intro-logo {
  margin-right: 48px;
}
.first {
  display: flex;
}
.team {
  width: 100%;
  height: 845px;
  text-align: center;
  background-color: #eee;
}
.team-member-card {
  width: 350px;
  height: 283px;
}
.team .title {
  position: relative;
  top: 58px;
}
.team-member-cards {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  margin: auto;
  max-width: 1110px;
}
.name {
  color: #007765;

  font-size: 24px;
}
.job {
  font-size: 18px;
  font-style: italic;
}
footer {
  width: 100%;
  height: 176px;
  background-color: #333;
  text-align: center;
}
.footer-text {
  position: relative;
  left: 736px;
  top: 50px;
  width: 540px;
  color: #fff;

  font-size: 18px;
}
.team-member-card .name {
  margin: 0;
}
.team-member-card .job {
  margin: 0;
}
