body {
  position: absolute;
  width: 2011px;
  height: 3314px;
}
header {
  width: 100%;
  height: 84px;
  background-color: #007765;
}
.logo {
  position: relative;
  left: 501px;
  top: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
header span {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  left: 1087px;
  position: relative;
}
.Jumbotron {
  background: url(../img/bg/image_bg_Jumbotron.png);
  width: 100%;
  height: 403px;
  text-align: center;
}
.Jumbotron-text {
  color: #fff;
  position: relative;
  top: 160px;
  font-family: Roboto;
  font-size: 72px;
}
.title {
  color: #007765;
  font-family: Roboto;
  font-size: 64px;
}
.problem {
  width: 100%;
  height: 719px;
  text-align: center;
}
.problem .title {
  position: relative;
  top: 48px;
}
.problem-text {
  position: relative;
  top: 16px;
  left: 451px;
  font-family: Roboto;
  font-size: 32px;
  width: 1110px;
  text-align: start;
}
.hero {
  background: url(../img/bg/image_bg_Hero.png);
  width: 100%;
  height: 483px;
  text-align: center;
}
.hero-text {
  position: relative;
  top: 128px;
  width: 893px;
  height: 228px;
  color: #fff;
  font-family: Roboto;
  font-size: 48px;
  font-style: italic;
}
.PPC {
  width: 2011px;
  height: 604px;
  text-align: center;
  background-color: #fff;
}
.PPC-text-1 {
  text-align: start;
  font-family: Roboto;
  font-size: 32px;
  width: 930px;
  position: absolute;
  left: 614px;
}
.PPC-text-2 {
  text-align: start;
  font-family: Roboto;
  font-size: 32px;
  width: 1110px;
  position: absolute;
  top: 2035px;
  left: 451px;
}
.PPC-logo {
  position: absolute;
  left: 451px;
}
.team {
  width: 100%;
  height: 845px;
  text-align: center;
  background-color: #eee;
}
.team-member-card {
  width: 350px;
  height: 283px;
}
.team .title {
  position: relative;
  top: 58px;
}
.team-member-cards {
  position: relative;
  left: 451px;
  top: 32px;
  max-width: 1110px;
  max-height: 596px;
  height: 596px;
}
.name {
  color: #007765;
  font-family: Roboto;
  font-size: 24px;
}
.job {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
}
